#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: rgb(40, 43, 40);
    color: #ffffff;
    border-right: 1px solid #444;
    overflow-y: auto;
    padding: 10px;
    font-family: sans-serif;
    z-index: 1000;

}

#map {
    margin-left: 300px;
    width: calc(100% - 300px);
    height: 100vh;
}

.drone {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.drone-details {
    padding-left: 10px;
    display: none;
}
